:root {
  --bg-color: #dee9f7;
}

* {
  box-sizing: border-box;
  z-index: 10;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  margin: 0;
  font-family: "Roboto"; /* to change */
}

#body-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

#logo {
  width: 150px;
}

#workout-info,
#users-manual {
  height: 80%;
  width: 36%;
  min-width: 400px;
  border-radius: 20px;
  background-color: white;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 14;
  overflow-y: auto;
}

#users-manual p {
  text-align: left;
  padding-left: 10px;
}

#users-manual img {
  border: 1px solid black;
}

#close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

#workout-info-pic {
  width: 60%;
  margin: 30px;
  border: 2px solid black;
}

.workout-info-text {
  margin: 0px 10px 20px 10px;
  text-align: left;
}

#fade-background {
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 12;
}

#background-image {
  left: 5%;
  position: fixed;
  opacity: 10%;
  width: 90%;
  z-index: 1;
}

#left {
  width: 25%;
  height: 100%;
  min-width: 320px;
  min-height: 600px;
  margin: 25px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

#intensity-level-container,
#targeted-muscles-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  background-image: linear-gradient(
    to top,
    rgb(131, 170, 228),
    rgb(131, 224, 220)
  );
  padding-bottom: 25px;
}

#intensity-level-container,
#targeted-muscles-container {
  border-radius: 25px;
}

#intensity-level,
#targeted-muscles {
  /* color: rgb(12, 20, 138); */
  margin: 20px 0px;
}
#intensity-level {
  width: 100%;
}

#intensity-level-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#targeted-muscles {
  width: 100%;
}

#upper-body,
#lower-body {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 15px;
}

/* upper body */
#upper-body-container {
  border-right: 1px solid black;
}

#upper-body-container,
#lower-body-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.muscles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* generate btn */
#generate-btn-container {
  width: 100%;
}

#generate-btn {
  width: 50%;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(38, 141, 189);
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

#generate-btn:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

/* workouts */
#right {
  background-color: #afd1fe;
  width: 65%;
  height: fit-content;
  margin: 25px;
  min-width: 250px;
  min-height: 600px;
  border-radius: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: space-evenly;
}

.workouts-container-container {
  width: 100%;
  margin: 30px;
  /* margin-left: -60px; */
  display: flex;
}

.workouts-container {
  /* position: relative; */
  width: 170px;
  /* height: 170px; */
  /* margin: 30px; */
  /* text-align: left; */
  cursor: pointer;
  /* line-height: 0; */
  animation: fade-in 2s;
  /* display: inline; */
}

.workout-details {
  text-align: left;
  padding-left: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.workouts {
  border: 2px double rgba(0, 0, 0, 0.6);
  width: 170px;
  /* display: none; */
}

.workouts:hover {
  border: 2px double rgb(0, 0, 0);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.workout-name {
  position: absolute;
  font-size: 20px;
  width: 100%;
  height: 25px;
  bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  padding: 0px 5px;
  background-color: rgba(0, 0, 0, 0.45);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 3px black, 0 0 5px black;
  line-height: initial;
}

.upper-lower {
  margin: 20px 0px 0px 40px;
  font-size: 20px;
}

#help {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 0px;
  right: 0px;
  background-color: white;
  margin: 10px;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.hidden {
  display: none;
}
